In [1]:
#Import dependencies
import pandas as pd

In [3]:
#Import zips CSV
zips_df = pd.read_csv('Datasets/ziptofips.csv')
zips_df.head()

   Unnamed: 0  ZipCodes   FIPS
0           0     70175  22071
1           1     11542  36059
2           2     11547  36059
3           3     11545  36059
4           4     11548  36059

In [6]:
#Remove Unnamed column
zips_df = zips_df[['ZipCodes', 'FIPS']]
zips_df.head()

   ZipCodes   FIPS
0     70175  22071
1     11542  36059
2     11547  36059
3     11545  36059
4     11548  36059

In [8]:
#Add leading zeros to FIPS
zips_df['FIPS'] = zips_df['FIPS'].apply(lambda x: '{0:0>5}'.format(x))
zips_df

       ZipCodes   FIPS
0         70175  22071
1         11542  36059
2         11547  36059
3         11545  36059
4         11548  36059
5         19399  42029
6         19398  42029
7         19397  42029
8         19395  42029
9         19390  42029
10        82443  56017
11        82442  56043
12        82441  56003
13        82440  56029
14        46135  18133
15        46133  18041
16        46131  18081
17        46130  18145
18        70179  22071
19        19973  10005
20        19971  10005
21        19970  10005
22        19977  10001
23        19975  10005
24        73622  40149
25        19979  10001
26        16701  42083
27        88023  35017
28        46704  18003
29        88021  35013
...         ...    ...
41143     40574  21067
41144     44890  39077
41145     40576  21067
41146     14413  36117
41147     14411  36073
41148     14410  36055
41149     14416  36037
41150     14415  36123
41151     14414  36051
41152     14418  36123
41153     13820  36077
41154     13827  36107
41155     13826  36007
41156     13825  36077
41157     96208  06075
41158     96209  06075
41159     96202  06075
41160     38848  28095
41161     96206  06075
41162     70174  22071
41163     38348  47017
41164     38849  28081
41165     38341  47005
41166     38340  47023
41167     38343  47053
41168     38342  47017
41169     38345  47077
41170     38344  47017
41171     38347  47023
41172     38346  47053

[41173 rows x 2 columns]

In [10]:
#Export DF to CSV
zips_df.to_csv('Output/Cleanedziptofips.csv')